<div id="weather">
    <h3 class="weather_title">Weather</h3>
    <div class="weather_body">
        <div class="body_selectCity">
          <label for="cities"> Select city: </label>
          <select name="cities" id="cities" (change)="changeSelectedCity($event.target.value)">
            <option value="">---Please select---</option>
            <option *ngFor="let city of weatherService.cities" value="{{ city.name }}">{{ city.name }}</option>
          </select>
          <button class="selectCity_button" (click)="getWeather()">
            Get weather
          </button>
        </div>
        <div class="body_info" >
          <div class="info_city" *ngFor="let weather of weatherService.weather">
            <div class="info_descriptions">
              <span class="info_weather"><strong>City</strong> {{ weather.city }}</span>
              <span class="info_weather"><strong>Humidity</strong> {{ weather.humidity }} %</span>
              <span class="info_weather"><strong>Visibility</strong> {{ weather.visibility }} km</span>
              <span class="info_weather"><strong>Temperature</strong> {{ weather.temperature }} °C</span>
            </div>
            <div class="info_image">
              <img class="weather_icon" src="{{ weather.icon }}" alt="weather"/>
            </div>
          </div>
        </div>
    </div>
</div>
